
.Settings{
    background-color: #060606;  
    min-height: 100vh;
    .SettingsHeader{
     width: 100%;
     height: 450px;
     background-image: url('../../Assets/Images/aditya-chinchure-ap0XT0JY-WI-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;     
     background-attachment: fixed;
     .SettingsHeader_overlay{
         width: 100%;
         height: 100%;
         padding-top: 150px;
         background-color: #0000008c;
         h2{
            font-size: 60px;
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
         }
         p{
             text-align: center;
             width: 100%;
             color: #fff;
             font-size: 25px;
             font-weight: 500;
            
             a{
                color: #e0b491;
                text-decoration: underline;
             }
         }
     }
    }
    .SettingsContent{
        padding-top: 100px;
        padding-bottom: 200px;
        width: 100%;
        .pageTitle{
            color: #fff;
            text-align: left;
            font-size: 40px;
            position: relative;
            margin-bottom: 40px;
            font-family: 'Great Vibes', cursive;

        }
        .ant-radio-inner::after {
            
            background-color: #0c1b29 !important;
        }
        .ant-radio-checked .ant-radio-inner{
            border-color:#B6845C !important ;
        }
    }

}