
.productDetails{
    background-color: #060606;  
    min-height: 100vh;
    .productDetailsHeader{
     width: 100%;
     height: 450px;
     background-image: url('../../Assets/Images/aditya-chinchure-ap0XT0JY-WI-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;     
     background-attachment: fixed;
     .productDetailsHeader_overlay{
         width: 100%;
         height: 100%;
         padding-top: 150px;
         background-color: #0000008c;
         h2{
            font-size: 60px;
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
         }
         p{
             text-align: center;
             width: 100%;
             color: #fff;
             font-size: 25px;
             font-weight: 500;
            
             a{
                color: #e0b491;
                text-decoration: underline;
             }
         }
     }
    }
    .productDetailsContent{
        margin-top: 86px;
        padding-bottom: 50px;
        .imgContainer{
        width: 100%;
        padding: 20px 53px;

        img{
            width: 100%;
        }
    }
        .info{
            h2{
                color: #e0b491;
                font-size: 40px;
                margin-bottom: 37px;
            }
            h5{
                color: #fff;
                font-weight: 400;
                padding-top: 5px;
                .infoTitle{
                    font-weight: 700;
                    }
            }
        }
 }
}


@media all and (max-width:1199px){
    .productDetails{
        .productDetailsHeader{
         .productDetailsHeader_overlay{
             h2{
                font-size: 50px;               
             }
             p{
                 a{
                 font-size: 22px;                
                 }
             }
         }
        
        }
        .productDetailsContent{
           
            .imgContainer{
                padding: 30px;
            }
 }
    }

}

@media all and (max-width: 991px){
    .productDetails{
        .productDetailsContent{
            .info{}
            h5{
                font-size: 17px;
            }
        }
    }
}
@media all and (max-width:670px){
    .productDetails{
        .productDetailsHeader{
         .productDetailsHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 45px;               
             }
             p{
                 font-size: 19px;                
               
             }
          }
        }
        .productDetailsContent{
            .info{
                padding: 15px 76px;

            }
        }
    }
}

@media all and (max-width:575px){
   
}
@media all and (max-width:465px){
    .productDetails{
       
        .productDetailsContent{
            .info{
                padding: 15px 76px;
                h2{
                    font-size: 37px;
                }
            }
        }
    }
}
@media all and (max-width:425px){
    .productDetails{
         .productDetailsHeader{
              .productDetailsHeader_overlay{
                   h2{
                       font-size: 35px;
                   }
                }
            }
        .productDetailsContent{
            .info{
                padding: 15px 45px;
                h2{
                    font-size: 36px;
                }
                h5{
                    font-size: 17px;
                }
            }
        }
    }

}
@media all and (max-width:365px){
   
}