
.Explore{
    background-color: #060606;  
    .ExploreHeader{
     width: 100%;
     height: 450px;
     background-image: url('../../Assets/Images/aditya-chinchure-ap0XT0JY-WI-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;     
     background-attachment: fixed;
     .ExploreHeader_overlay{
         width: 100%;
         height: 100%;
         padding-top: 150px;
         background-color: #0000008c;
         h2{
            font-size: 60px;
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
         }
         p{
             text-align: center;
             width: 100%;
             color: #fff;
             font-size: 25px;
             font-weight: 500;
            
             a{
                color: #e0b491;
                text-decoration: underline;
             }
         }
     }
    }
 .ExploreContent{
     width: 100%;
     padding-top: 100px;
     padding-bottom: 200px;
     a{
         text-decoration: none;
     
    .SingleCard{
        border-radius: 6px;
        box-shadow: 0px 1px 14px #616060b0;
        border:2px solid #967152;
        padding: 20px;

        .imgPart{
            height: 80%;
            img{
                width: 100%;
        
            }
        }
        .infoPart{
            height: 20%;
            padding: 20px;

            h2{
                color: #fff;
            }
            p{
                color: #b7b0b0;
                font-size: 20px;
            }
            
        
        }
    }
}
   .btnStyle{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 25px;
   }
 }
}

@media all and (max-width:1199px){
    .Explore{
        .ExploreHeader{
         .ExploreHeader_overlay{
             h2{
                font-size: 50px;               
             }
             p{
                 a{
                 font-size: 22px;                
                 }
             }
         }
        }
 }
}


@media all and (max-width:670px){
    .Explore{
        .ExploreHeader{
      
         .ExploreHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 45px;               
             }
             p{
                 font-size: 19px;                
               
             }
          }
        }
    }
}

@media all and (max-width:575px){
    .Explore{
     .ExploreContent{
        .cardCol{
            padding:0px 113px;
        }
      }
    }
}
@media all and (max-width:465px){
    .Explore{
     .ExploreContent{
        .cardCol{
            padding:0px 88px;
            }
        }
    }
}
@media all and (max-width:425px){
    .Explore{
     .ExploreContent{
        .cardCol{
            padding:0px 54px;
            }
        }
    }
}
@media all and (max-width:365px){
    .Explore{
     .ExploreContent{
        .cardCol{
            padding:0px 36px;  
            }
        }
    }
}