

.CompareResult{
    background-color: #fff;  
    min-height: 100vh;
    .CompareResultHeader{
     width: 100%;
     height: 450px;
     background-image: url('../../Assets/Images/aditya-chinchure-ap0XT0JY-WI-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;     
     background-attachment: fixed;
     margin-bottom: 100px;
     .CompareResultHeader_overlay{
         width: 100%;
         height: 100%;
         padding-top: 150px;
         background-color: #0000008c;
         h2{
            font-size: 60px;
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
         }
         p{
             text-align: center;
             width: 100%;
             color: #fff;
             font-size: 25px;
             font-weight: 500;
            
             a{
                color: #e0b491;
                text-decoration: underline;
             }
         }
     }
    }
    .CompareResultContent{
        margin-bottom: 50px;
        tr{
            border-bottom: 2px solid #B6845C;
            th{
                color: #060606;
                padding: 15px ;
                // font-size: 20px;
                text-align: center;
            }
            .label{
                color: #B6845C ;
                text-align: left;
                width: 22%;
                padding-left: 70px;
                font-size: 20px;
            }
        }
        .lastRow{border: none;}
        .tableTitle{
            border: none;
            background: linear-gradient(90deg, rgba(224,180,145,1) 1%, rgba(10,9,9,1) 100%);
            th{
                color: #fff;
                padding: 10px;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

@media all and (max-width:1199px){
    .CompareResult{
        .CompareResultHeader{
         .CompareResultHeader_overlay{
             h2{
                font-size: 50px;               
             }
             p{
                 a{
                 font-size: 22px;                
                 }
             }
         }
        }
         .CompareResultContent{
            tr{
                 .label{
                    padding-left: 36px !important;
                 }
         } 
        }
 }
}

@media all and (max-width: 991px){
    .CompareResult{
        .CompareResultHeader{
         .CompareResultHeader_overlay{
             h2{
                font-size: 45px;               
             }
             p{
                 a{
                 font-size: 19px;                
                 }
             }
         }
        }
    }
}
@media all and (max-width: 736px){
    .CompareResult{
        .CompareResultContent{
            tr{
                th{
                    font-size: 15px;       
                }
                .label{
                    font-size: 15px;
                }
            }
            .tableTitle{
                th{
                    font-size: 18px;
                }
            }  
        }
    }
}
@media all and (max-width:670px){
    .CompareResult{
        .CompareResultHeader{
         .CompareResultHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 45px;               
             }
             p{
                 font-size: 19px;                
               
             }
          }
        }
    }
}

@media all and (max-width:575px){
  
}
@media all and (max-width:465px){
    .CompareResult{
        .CompareResultHeader{
         .CompareResultHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 41px;               
             }
             p{
                 font-size: 17px !important;                
                a{
                    font-size: 17px !important;
                }
             }
          }
        }
    } 
}
@media all and (max-width:425px){
    .CompareResult{
        .CompareResultHeader{
         .CompareResultHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 38px;               
             }
             p{
                 font-size: 17px !important;                
                a{
                    font-size: 17px !important;
                }
             }
          }
        }
    } 
}
@media all and (max-width:380px){
    .CompareResult{
        .CompareResultContent{
            tr{
                th{
                    font-size: 13px;       
                }
                .label{
                    font-size: 13px;
                }
            }
            .tableTitle{
                th{
                    font-size: 16px;
                }
            }  
        }
    }
}
@media all and (max-width: 343px){
    .CompareResult{
        .CompareResultContent{
           
            tr{
                th{
                    font-size: 11px;       
                }
                .label{
                    font-size: 11px;
                    padding-left: 13px !important;
                }
            }
            .tableTitle{
                th{
                    font-size: 11px;
                }
            }  
        }
      
    }
}
@media all and (max-width: 343px){
    .CompareResult{
        .CompareResultContent{
           .container{
               padding: 0 !important;
               margin: 0 !important;
           }
        }
    }
}