

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.Compare{
    background-color: #060606;  
    .CompareHeader{
        width: 100%;
        height: 450px;
        background-image: url('../../Assets/Images/aditya-chinchure-ap0XT0JY-WI-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;     
        background-attachment: fixed;
        .CompareHeader_overlay{
            width: 100%;
            height: 100%;
            padding-top: 150px;
            background-color: #0000008c;
            h2{
               font-size: 60px;
               text-align: center;
               color: #fff;
               letter-spacing: 3px;
               margin-bottom: 30px;
            }
            p{
                text-align: center;
                width: 100%;
                color: #fff;
                font-size: 25px;
                font-weight: 500;
               
                a{
                   color: #e0b491;
                   text-decoration: underline;
                }
            }
        }
       }
    .CompareContent{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 200px;
        .pageTitle{
            color: #fff;
            text-align: center;
            font-size: 45px;
            position: relative;
            margin-bottom: 40px;
            &::before{
                content: 'Compare';
                position: absolute;
                top: -46px;
                left: 50%;
                transform: translate(-50%, 10px);
                font-family: 'Great Vibes', cursive;
                color: #B6845C;
                font-size: 50px;
            }
        }
        .searchForm{
            max-width: 100% !important;
            position: relative;
            .formRow{
                .formCol{
                    .errorStyle{
                        color: red;
                    }
                    .MuiInputBase-root{
                        background-color: #B6845C;
                        .Mui-foucused{
                            border:none;
                        }
                        input{
                            color: #060606;
                            font-size: 20px;
                            &:placeholder{
                                color: #fff !important;
                            }
                        }
                        
                    }
                    .MuiInputLabel-outlined{
                        font-size: 20px;
                        color: #fff;}
                    .MuiFormLabel-root.Mui-focused{
                        color: #fff;
                    }
                    .MuiOutlinedInput-root.Mui-focused{
                        border: none !important;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                }
            }
            .checkBoxRow{
                padding: 30px;
                .title{
                    display: block;
                    width: 100%;
                    color: #B6845C;
                    font-family: 'Great Vibes', cursive;
                }
                .checkBOX{color: #fff;font-size: 20px;}
                .MuiCheckbox-colorSecondary.Mui-checked{
                    color: #B6845C !important;
                }
                .MuiCheckbox-root {
                    color: #B6845C !important;
                }
            }
            .sendBtn{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 80px;
                button{
                    background-color: #B6845C;
                    padding: 15px 33px;
                    color: #000;
                    font-size: 19px;
                }
            }
        }
    }
}
@media all and (max-width:1199px){
    .Compare{
        .CompareHeader{
         .CompareHeader_overlay{
             h2{
                font-size: 50px;               
             }
             p{
                 a{
                 font-size: 22px;                
                 }
             }
         }
        }
 }
}

@media all and (max-width:1050px){
    .Compare{
        .CompareContent{
            .pageTitle{
                font-size: 36px;
            
            }
        }
    }
}

@media all and (max-width:670px){
    .Compare{
        .CompareHeader{
         .CompareHeader_overlay{
            padding-top: 223px;

             h2{
                font-size: 45px;               
             }
             p{
                 font-size: 19px;                
               
             }
          }
        }
    }
}

@media all and (max-width:575px){
   .Compare{
       
    .CompareContent{
        .pageTitle{
            font-size: 32px;
        }
        .searchForm{
            max-width: 88% !important;
            position: relative;
            margin: 0 auto;
        }
    }
}
}
@media all and (max-width:465px){
    .Compare{
        .CompareContent{
         
    .checkBoxRow{
        .title{
            font-size: 26px;
        }
    } 
    }
}
}
@media all and (max-width:425px){
    .Compare{
        .CompareContent{
            .pageTitle{
                font-size: 27px;
            }
            .formRow{
                .formCol{
                    .errorStyle{
                        color: red;
                    }
                    .MuiInputBase-root{
                        background-color: #B6845C;
                        .Mui-foucused{
                            border:none;
                        }
                        input{
                            color: #060606;
                            font-size: 18px !important;
                            &:placeholder{
                                color: #fff !important;
                                font-size: 18px !important;

                            }
                        }
                        
                    }
                }
            }   
            .checkBoxRow{
                .title{
                    font-size: 23px;
                }
            } 
    }
}  
}
@media all and (max-width:365px){
    
}