
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.Header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .container{
        background-color: #060606;  

    .logoPart{
        a{
            font-family: 'Great Vibes', cursive;
            color: #B6845C;
            font-size: 38px;
            text-decoration: none;
        }
        .menuIcon{
            display: none;
        }
    }
    .listCol{
        display: flex;
        align-items: center;
        justify-content: flex-end; 
    .listPart{
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        ul{
            list-style: none;
            li{
                a{
                    color: #fff;
                    margin-left: 51px;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}
}
}


@media all and (max-width:770px){
    .Header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        .container{
            background-color: #060606;  
    
        .logoPart{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                font-family: 'Great Vibes', cursive;
                color: #B6845C;
                font-size: 38px;
                text-decoration: none;
            }
            .menuIcon{
                display: block;
                color: #fff;
                font-size: 20px;
            }   
        }
        .listCol{
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        .listPart{

            display: none;
            
        }
    }
    .Menu{
        width: 100%;
        height: 200px;
        background-color: #060606;
        display: flex;
            align-items: center;
            justify-content: center;
        ul{
            
            li{
               
                a{
                    color: #fff;
                    width: 100%;
                    display: block;
                    font-size: 25px;
                }

            }
        }
    }
    }
    
    }

}