.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #060606;  

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
